.tabBar {
  :global {
    .ant-card {
      background: transparent;
      border: none;
    }
    .ant-card-head {
      background: white;
    }
    .ant-card-body {
      margin-top: 5px;
      background-color: white;
    }
  }
}

.pagCustom {
  // border: 1px solid red;
  li:first-child {
    flex: 1;
    text-align: left;
  }
}

.detail {
  > div {
    height: 50%;
    border: 1px solid #f2f2f2;
  }
  .top {
    margin-bottom: 10px;
  }
  .bottom {
    padding: 30px;
  }
}

.sub {
  flex: 1;
  text-align: right;
  border: 1px solid red;
}

.Row {
  margin-top: 10px;
  margin-bottom: 10px;
  // border: 1px solid red;
}

.Col {
  border: 1px solid red;
}
